* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish Variable', sans-serif;
}

img {
    width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    
}

.container {
    width: 1144px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-6 {
    flex-basis: calc(100% / 12 * 6);
}

input {
    line-height: 50px;
    padding: 0 10px;
    border: 1px solid rgba(128, 128, 128, 0.266);
    border-radius: 5px;
}

// UTILITY CLASSES

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.grow-1 {
    flex-grow: 1;
}

.align-start {
    align-items: flex-start;
}

.self-center {
    align-self: center;
}

// COLOR CLASSES

.grey {
    color: #494C4E;
}

.green {
    color: #74BC64;
}

.dark-grey {
    color: #353637;
}

.light-grey {
    color: #929AA3;
}

// BUTTONS

button {
    border-radius: 999px;
    display: flex;
    align-items: center;
    cursor: pointer;
    a {
        font-weight: 800;
    }
}

.button-green {
    background-color: #74BC64;
    border: 0;
    height: 44px;
    a {
        font-size: 14px;
        line-height: 44px;
        color: white;
    }
    * {
        padding: 0 28px;
    }
}

// TITLES AND SUBTITLES

.section-title {
    font-weight: bold;
    font-size: 40px;
    color: #494C4E;
}
.section-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #929AA3;
}
.section-paragraph {
    color: #929AA3;
    line-height: 29px;
}

// CARD

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 12px 10px 5px rgba(0, 0, 0, 0.05);
    .card-title {
        font-weight: 800;
    }
    .card-paragraph {
        text-align: center;
        color: #929AA3;
        line-height: 26px;
    }
}